<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-pack-heading" data-cy="PackCreateUpdateHeading">Créer ou éditer un Pack</h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let packNameRef = editForm.get('packName')!;
        <div class="mb-3">
          <label class="form-label" for="field_packName">Pack Name</label>
          <input type="text" class="form-control" name="packName" id="field_packName" data-cy="packName" formControlName="packName" />
          @if (packNameRef.invalid && (packNameRef.dirty || packNameRef.touched)) {
            <div>
              @if (editForm.get('packName')?.errors?.required) {
                <small class="form-text text-danger">Ce champ est obligatoire.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_description">Description</label>
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
        </div>

        @let priceRef = editForm.get('price')!;
        <div class="mb-3">
          <label class="form-label" for="field_price">Price</label>
          <input type="number" class="form-control" name="price" id="field_price" data-cy="price" formControlName="price" />
          @if (priceRef.invalid && (priceRef.dirty || priceRef.touched)) {
            <div>
              @if (editForm.get('price')?.errors?.required) {
                <small class="form-text text-danger">Ce champ est obligatoire.</small>
              }
              <small class="form-text text-danger" [hidden]="!editForm.get('price')?.errors?.number">Ce champ doit être un nombre.</small>
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_billingPeriod">Billing Period</label>
          <input
            type="text"
            class="form-control"
            name="billingPeriod"
            id="field_billingPeriod"
            data-cy="billingPeriod"
            formControlName="billingPeriod"
          />
        </div>

        @let creditsRef = editForm.get('credits')!;
        <div class="mb-3">
          <label class="form-label" for="field_credits">Credits</label>
          <input type="number" class="form-control" name="credits" id="field_credits" data-cy="credits" formControlName="credits" />
          @if (creditsRef.invalid && (creditsRef.dirty || creditsRef.touched)) {
            <div>
              @if (editForm.get('credits')?.errors?.required) {
                <small class="form-text text-danger">Ce champ est obligatoire.</small>
              }
              <small class="form-text text-danger" [hidden]="!editForm.get('credits')?.errors?.number">Ce champ doit être un nombre.</small>
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_validityDays">Validity Days</label>
          <input
            type="number"
            class="form-control"
            name="validityDays"
            id="field_validityDays"
            data-cy="validityDays"
            formControlName="validityDays"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_user">User</label>
          <select class="form-control" id="field_user" data-cy="user" name="user" formControlName="user" [compareWith]="compareUser">
            <option [ngValue]="null"></option>
            @for (userOption of usersSharedCollection; track $index) {
              <option [ngValue]="userOption">{{ userOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
