<div>
  <h2 id="page-heading" data-cy="PeriodSubscriptionHeading">
    <span>PeriodSubscriptions</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span>Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-period-subscription"
        [routerLink]="['/period-subscription/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span>Créer un nouveau Period Subscription</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (periodSubscriptions().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span>Aucun Period Subscription trouvé</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span>ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="subscriptionName">
              <div class="d-flex">
                <span>Subscription Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="description">
              <div class="d-flex">
                <span>Description</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="price">
              <div class="d-flex">
                <span>Price</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="billingPeriod">
              <div class="d-flex">
                <span>Billing Period</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="creditsPerPeriod">
              <div class="d-flex">
                <span>Credits Per Period</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="startDate">
              <div class="d-flex">
                <span>Start Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="endDate">
              <div class="d-flex">
                <span>End Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="user.id">
              <div class="d-flex">
                <span>User</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (periodSubscription of periodSubscriptions(); track trackId(periodSubscription)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/period-subscription', periodSubscription.id, 'view']">{{ periodSubscription.id }}</a>
              </td>
              <td>{{ periodSubscription.subscriptionName }}</td>
              <td>{{ periodSubscription.description }}</td>
              <td>{{ periodSubscription.price }}</td>
              <td>{{ periodSubscription.billingPeriod }}</td>
              <td>{{ periodSubscription.creditsPerPeriod }}</td>
              <td>{{ periodSubscription.startDate | formatMediumDate }}</td>
              <td>{{ periodSubscription.endDate | formatMediumDate }}</td>
              <td>
                {{ periodSubscription.user?.id }}
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/period-subscription', periodSubscription.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline">Voir</span>
                  </a>

                  <a
                    [routerLink]="['/period-subscription', periodSubscription.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline">Editer</span>
                  </a>

                  <button type="submit" (click)="delete(periodSubscription)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline">Supprimer</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
