<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (studio(); as studioRef) {
      <div>
        <h2 data-cy="studioDetailsHeading"><span>Studio</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ studioRef.id }}</span>
          </dd>
          <dt><span>Name</span></dt>
          <dd>
            <span>{{ studioRef.name }}</span>
          </dd>
          <dt><span>Address</span></dt>
          <dd>
            <span>{{ studioRef.address }}</span>
          </dd>
          <dt><span>Category</span></dt>
          <dd>
            <span>{{ studioRef.category }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Retour</span>
        </button>

        <button type="button" [routerLink]="['/studio', studioRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Editer</span>
        </button>
      </div>
    }
  </div>
</div>
