<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (booking(); as bookingRef) {
      <div>
        <h2 data-cy="bookingDetailsHeading"><span>Booking</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ bookingRef.id }}</span>
          </dd>
          <dt><span>Status</span></dt>
          <dd>
            <span>{{ bookingRef.status }}</span>
          </dd>
          <dt><span>Created At</span></dt>
          <dd>
            <span>{{ bookingRef.createdAt | formatMediumDatetime }}</span>
          </dd>
          <dt><span>Cancelled At</span></dt>
          <dd>
            <span>{{ bookingRef.cancelledAt | formatMediumDatetime }}</span>
          </dd>
          <dt><span>User</span></dt>
          <dd>
            <span>{{ bookingRef.user?.id }}</span>
          </dd>
          <dt><span>Event</span></dt>
          <dd>
            @if (booking()!.event) {
              <div>
                <a [routerLink]="['/event', booking()!.event?.id, 'view']">{{ bookingRef.event?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Retour</span>
        </button>

        <button type="button" [routerLink]="['/booking', bookingRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Editer</span>
        </button>
      </div>
    }
  </div>
</div>
